.ant-modal-body{
    padding:0;
}
.project_information{
    height: 550px;
    max-height: 550px;
    overflow: auto;
}

.name_project_container{
    display:block;
    position: relative;
    border:1px solid black;
    border-radius: 5px;
}

.name_project_text{
    display: inline-block;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-right: 100px;

}




.buttonChangeName{
    display:block;
    position: absolute;
    z-index: 10;
    cursor:pointer;
    font-size: 30px;
    top: 0;
    right: 55px;
    padding: 0 10px;
}
.buttonCancelChangeName{
    display:block;
    position: absolute;
    z-index: 10;
    cursor:pointer;
    font-size: 30px;
    top: 0;
    right: 15px;
    padding: 0 10px;
}



.project_description{
    font-size: 20px;
    margin-top: 10px;
    
}
.project_description:hover{
    border:1px solid black;
    border-radius: 5px;
}
.buttonChangeDes{
    display: none;
    border-radius: 10px;
    margin-left: 860px;
    margin-top: -40px;
}


.participant{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 50px;
    margin-left: 20px;
}
.participant_icon{
    font-size: 30px;
}


.participant_email{
    width: 400px;
}

.participant_email:hover{
    border-color:none;
}

.participant_role{
    
}
.button_add{
    width: 80px;
    margin-top: -85px;
    margin-left: 450px;
    border-radius: 15px;
}
.delete_button{
    color: black;
    font-size:20px ;
}
.change_name_list{
    color: black;
    font-size:20px ;
}
.list{
    margin-top: 30px;
    font-size: 20px;
    margin-left: 20px;
}
.list_icon{
    padding-bottom: 5px;
    font-size: 30px;
}
.name_list{
    width: 400px;
}
.button_add_list{
    width: 80px;
    margin-top: -50px;
    margin-left: 450px;
    border-radius: 15px;
}

.delete_project{
    margin-top: 40px;
    margin-bottom:30px;
    border-radius: 20px;
    background-color: red;
    color: white;
    width: 200px;
    margin-left: 400px;
}
