.taskList {
    text-align: start !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
}

.actionList {
    font-size: 1.4rem;
}

.actionElement {
    vertical-align: middle;
}