.subnav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd;

}

.project {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    height: 64px;
    align-items: center;
    border: none;
    width: 20%
}

.menu {
    font-size: 20px;
    height: 64px;
    align-items: center;
    border: none;
}

.info {
    font-size: 32px ;
    margin-left: 8%;
}