.listSubnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    border-bottom: 1px solid #d9d5d5;
}

.filter {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 2%;
}

.tableList {
    text-align: center;
    vertical-align: middle;
}

.tableList > :not(:first-child) {
    border-top: 0;
}

.tableHeader {
    box-shadow: 0px 2px 2px 0px #c3c3c3;
}